/ResolucaoTela/dist/
/HoraDoSistema/dist/
/ExercicioSwingBasic/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TiposNoJava/nbproject/private/
/TiposNoJava/build/
/SomaComSwing/nbproject/private/
/SomaComSwing/build/
/CalculadoraDeIdade/nbproject/private/
/CalculadoraDeIdade/build/
/CalculadoraDeIdade/dist/
/CalculoComOperadoresAritmeticos/nbproject/private/
/CalculoComOperadoresAritmeticos/build/
/CalculoOperadoresSwing/nbproject/private/
/SomaComSwing/dist/
/Exercicio_Com_Operador_Ternario/nbproject/private/
/Exercicio_Com_Operador_Ternario/build/
/ComparacaoDeString/nbproject/private/
/ComparacaoDeString/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/VerificadorDeIdade/nbproject/private/
/VerificadorDeIdade/build/
/LeitorDeAdivinhacao/nbproject/private/
/LeitorDeAdivinhacao/build/
/MediaDeAluno/nbproject/private/
/CalculoMedia/nbproject/private/
/CalculoMedia/build/
/Equacao2Grau/nbproject/private/
/Equacao2Grau/build/
/EstruturasCondicionaisSimplesECompostas/nbproject/private/
/EstruturasCondicionaisSimplesCompostas/nbproject/private/
/EstruturaCondicionalSimplesComposta/nbproject/private/
/EstruturaCondicinalSimplesCompostaSwing/nbproject/private/
/EstruturaCondicinalSimplesCompostaSwing/build/
/CondicionalComSwitch/nbproject/private/
/CondicionalComSwitch/build/
/ControleDeslizanteTriangulo/nbproject/private/
/ControleDeslizanteTriangulo/build/
/ContadorComWhile/nbproject/private/
/ContadorComWhile/build/
/ContadorSwing/nbproject/private/
/ContadorSwing/build/
/CalculoFatorial/nbproject/private/
/CalculoFatorial/build/
/Repeticao-1/nbproject/private/
/Repeticao-1/build/
/ExercicioJOptionpane/nbproject/private/
/ExercicioJOptionpane/build/
/ExercicioJOptionpaneCalculo/nbproject/private/
/ExercicioJOptionpaneCalculo/build/
/ExecicioComFor/nbproject/private/
/ExecicioComFor/build/
/TelaComControleContador/nbproject/private/
/TelaComControleContador/build/
