/ResolucaoTela/dist/
/HoraDoSistema/dist/
/ExercicioSwingBasic/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TiposNoJava/nbproject/private/
/TiposNoJava/build/
/SomaComSwing/nbproject/private/
/SomaComSwing/build/
/CalculadoraDeIdade/nbproject/private/
/CalculadoraDeIdade/build/
/CalculadoraDeIdade/dist/
